<div *ngIf= "corporation; else showLoading " class="container">
    <mat-card-header>

        <mat-card-title>{{corporation.name}}</mat-card-title>
          <mat-card-subtitle>Founder: {{corporation.founder}}</mat-card-subtitle>
          <mat-card-title>Valuation: ${{corporation.valuation}}</mat-card-title>
           <mat-card-title>Headquarters: {{ corporation.headquarters.address}}, {{corporation.headquarters.city}}</mat-card-title>
       
    </mat-card-header>
    
     <mat-card-content class=cardlleft>
         <p>{{ corporation.summary}}</p>
        <img mat-card-image src= {{rocket.splashImg}} alt="Photo of the rocket" *ngIf="rocket">

     </mat-card-content>
</div>

<ng-template #showLoading>
    <div class="loadingSpinner">
      <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>
</ng-template>
