
<div *ngIf="rocket; else showLoading" class="container">

<mat-card class=small-card>
     <mat-card-header>
            <mat-card-title>{{ rocket.rocketname }}</mat-card-title>
             <mat-card-subtitle>{{ rocket.description}}</mat-card-subtitle>
    
            </mat-card-header>
         <img mat-card-image src={{rocket.splashImg}} alt="Photo of rocket">
          <mat-card-content class= cardleft>

            <p>Description: {{ rocket.description}} </p>
            <p>First Flight: {{rocket.firstflight}} </p>
            <p>Country: {{rocket.country}}</p>
            <p>Height: {{rocket.height}}</p>
            <p>Diameter: {{rocket.diameter}}</p>
            <p>Mass: {{rocket.mass}}</p>

          </mat-card-content>

    </mat-card>

</div>

<ng-template #showLoading>
    <div class="loadingSpinner">
          <mat-progress-spinner color="primary" mode="indeterminate">

          </mat-progress-spinner>

    </div>


</ng-template>
